body {
    padding: 0;
    margin: 0;
    background-color: #cad3d3;
    padding-top: 180px;
    padding-bottom: 180px;
    font-size: 16px;
    color: #5f727f;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
}

.block-item {
    max-width: 362px;
    width: 100%;
    position: relative;
}

.wrapper-block {
    display: flex;
    flex-wrap: wrap;
}

.block {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.block .wrap-title {
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.block .wrap-title .title {
    flex: 0 0 100%;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.block .wrap-title .path-way {
    color: #b6c6c9;
    text-align: center;
    margin: 0;
}

.block1 .wrap-title {
    background-image: url("/images/ocean.png");
}

.block2 .wrap-title {
    background-image: url("/images/mountain.png");
}

.block3 .wrap-title {
    background-image: url("/images/forest.png");
}

.wrap-price {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap-price p {
    flex: 0 0 100%;
    text-align: center;
    margin: 0;
}

.wrap-price .price {
    font-size: 32px;
    font-weight: 200;
}

.wrap-price .text {
    color: #99a9b5;
}

.block1 .wrap-price .price {
    color: #2196f7;
}

.block2 .wrap-price {
    background-color: #2c2e3d;
}

.block2 .wrap-price .price {
    color: #d74498;
}

.block3 .wrap-price .price {
    color: #92d387;
}

.new-active {
    position: absolute;
    width: 65px;
    height: 65px;
    background-image: url("/images/newmark.png");
    top: -15px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.content {
    text-align: center;
}

.sub-title {
    margin: 25px 0;
}

.sub-title p {
    margin-bottom: 0;
}

.sub-title .sub1 {
    font-size: 24px;
    font-weight: 300;
}

.sub-title .sub2 {
    font-size: 14px;
    margin: 0;
}

.services ul,
.services ol {
    padding-left: 0;
}

.services ol {
    font-size: 16px;
    padding: 15px 0;
}

.services ol:nth-child(2n+1) {
    background-color: #f4f6f7;
}

.btn {
    border-radius: 0;
    font-size: 19px;
    font-weight: 200;
    text-transform: uppercase;
    width: 167px;
    height: 48px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;
}

.block1 .btn {
    color: #2195f7;
    border: 1px solid #2195f7;
}

.block1 .btn:hover {
    background-color: #2195f7;
    color: #ffffff;
}

.block2 .btn {
    color: #6c136f;
    border: 1px solid #6c136f;
}

.block2 .btn:hover {
    background-color: #6c136f;
    color: #ffffff;
}

.block3 .btn {
    color: #31ad1d;
    border: 1px solid #31ad1d;
}

.block3 .btn:hover {
    background-color: #31ad1d;
    color: #ffffff;
}

.block-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 125px;
}